Source: fusionpbx-app-dialplan-features
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-dialplan-features
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-dialplan-features: Provides dialplan context features including in call transfer and attended transfer and more
#XSBC-Bugtracker: mailto:r.neese@gmail.com
