Source: fusionpbx-app-call-active
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-call-active
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-call-active:  Active channels on the system.
#XSBC-Bugtracker: mailto:r.neese@gmail.com
