Source: fusionpbx-app-voicemail-greatings
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-voicemail-greatings
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-voicemail-greatings: Manager voicemail greetings for extensions
#XSBC-Bugtracker: mailto:r.neese@gmail.com
