Package: fusionpbx-app-adminer
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-aminer:  Adminer (formerly phpMinAdmin) is a full-featured database management tool written in PHP. Adminer is available for MySQL, PostgreSQL, SQLite, MS SQL and Oracle. 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
